<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
<head>
 <style>
table, td, th {
  border: 1px solid black;
}
th {
  background-color: green;
  color:white;
}
body {
  background-color: linen;
}
h1 {
  background-color: darkblue;
  color:white;
}
a {
  background-color:white;
}
</style>
</head>
{%block body_block%}
<center>
<h1  >Activity Information Dash Board</h1><hr>
<table >
<thead >
<th>Date</th>
<th>Activity </th>
<th>Images</th>
<th>Responce</th>
<th>Actions</th>
</thead>
{%for a in activity %}
<tr>
<td>{{a.date}}</td>
<td>{{a.activity}}</td>
    {% if a.image %}
    <td><img src="{{a.image.url}}" alt="Smiley face" width="250" height="250"></td>
    {% endif %}
<td>{{a.responce}}</td>
<td>
  <a href="/upactivity/{{a.id}}">Update</a>
  <a href="/deactivity/{{a.id}}">Delete</a>
</td>
</tr>
{%endfor%}
</table><br><br><br>
<a href="/addactivity" class='btn btn-primary btn-lg'>Do You Want to Insert New Activity</a>
{%endblock%}
</center>