<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    </head>
    <body bgcolor="lightcyan">
    <center>
      <h1 >** TUNGALAVARIPALEM **</h1>
          <marquee style="background-color:lightgreen;" >** JANASAINICS **</marquee><hr>
          <h1>** JSP **</h1>
          <p>we are doing great works in my village.All the activities are uploaded in our web site.</p>
          <img src="{% static "images/v.jpg" %}" alt="">
          <p>This is village </p>
          <img src="{% static "images/temple2.jpg" %}" alt=""><img src="{% static "images/temple.jpg" %}" alt="">
          <p>Beautifull Temples in my Village  </p>
          <img src="{% static "images/temple.jpg" %}" alt="">
          <p>This is our village Center of Attraction POOTHURRAJU tree </p>
          <img src="{% static "images/riverspot.jpg" %}" alt="">
          <p>Krishna rivier spoted at back side of village </p>
          <img src="{% static "images/sunset.jpg" %}" alt="">

    </center>
    </body>
    </html>

